<div class="cards">
  <div class="cards__item">
    <a class="cards__item-link" href="">
      <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
    </a>
  </div>
  <div class="cards__item">
      <a class="cards__item-link" href="">
        <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
      </a>
    </div>
    <div class="cards__item">
        <a class="cards__item-link" href="">
          <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
        </a>
      </div>
      <div class="cards__item">
          <a class="cards__item-link" href="">
            <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
          </a>
        </div>
        <div class="cards__item">
            <a class="cards__item-link" href="">
              <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
            </a>
          </div>
          <div class="cards__item">
              <a class="cards__item-link" href="">
                <img class="card__item-image" src="http://via.placeholder.com/293x293" alt="">
              </a>
            </div>
</div>
