<section class="details">
  <div class="details__container">
    <img class="details__image" src="../../assets/images/logo.png" alt="Company logo">
    <div class="details__content">
      <p class="details__company-name">wacarever</p>
      <span class="details__posts">
        <span class="details__posts-number">1234</span> posts
      </span>
      <span class="details__followers">
        <span class="details__followers-number">145</span> followers
      </span>
      <p class="details__description">
          Wacarever Discovering and telling stories from around the world. Founded in 2010 by me.
      </p>
    </div>
  </div>
</section>
