@font-face {
  font-family: 'Poppins Bold';
  src: url('../../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('../../assets/fonts/Poppins-Regular.ttf');
}

.details {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Poppins Regular';
}

.details__company-name {
  font-size: 45px;
  line-height: 0;
}

.details__company-name,
.details__posts-number,
.details__followers-number {
  font-family: 'Poppins Bold';
}

.details__followers {
  margin-left: 100px;
}

.details__image {
  width: 150px;
  height: 150px;
}

.details__container {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
}

.details__content {
  margin-left: 80px;
}
